body {
    background: #eee;
    width: 960px;
    margin: 0 auto;
}
.todo {
    background: #fff;
    width: 960px;
    margin: 0 0 0 -480px;
    top: 30px;
}
header {
    width: 100%;
}
#input_todo {
    width: 920px;
    height: 38px;
    font-size: 20px;
    margin-bottom: 0;
}
.check_all {
    display: inline-block;
}

#todo_list {
    width: 100%;
    margin: 0 auto;
}
#todo_list li {
    list-style: none;
    position: relative;
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #e5e5e5;
}

.close {
    margin-top: 3px;
}
.todo_text {
    display: inline-block;
}
.todo_over .todo_text{
    color: #999;
    text-decoration: line-through;
}
.editing .todo_display, .edit {
    display: none;
}
.editing .edit {
    display: block;
}
.edit-input {
    width: 920px;
}